# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Maven target
**/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
